/* /////////////////////////// */
.wtf {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wtf-arrow-right {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    background: lightgrey;
    color: grey;
}

.wtf-arrow-navy {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    background: lightgrey;
    color: grey;
}

.selected {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    background: white;
    font-weight: bold;
    color: black;
}

.transparent {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    background: #f5f5f5;
    color: #f5f5f5;
}

.wtf-arrow-right {
    padding-left: 36px;
}

.wtf-arrow-right:before,
.wtf-arrow-right:after {
    content: "";
    position: absolute;
    top: 4px;
    width: 22px;
    height: 22px;
    background: inherit;
    border: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0px 4px 0px 0px;
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.wtf-arrow-right:before,
.wtf-arrow-right:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.wtf-arrow-right:before {
    left: -11px;
}

.wtf-arrow-right:after {
    right: -11px;
}

.wtf-arrow-right:after {
    z-index: 1;
}

.wtf-arrow-right:before {
    background-color: #ffc107;
}


.wtf-arrow-navy {
    padding-left: 36px;
}

.wtf-arrow-navy:before,
.wtf-arrow-navy:after {
    content: "";
    position: absolute;
    top: 4px;
    width: 22px;
    height: 22px;
    background: inherit;
    border: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0px 4px 0px 0px;
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.wtf-arrow-navy:before,
.wtf-arrow-navy:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.wtf-arrow-navy:before {
    left: -11px;
}

.wtf-arrow-navy:after {
    right: -11px;
}

.wtf-arrow-navy:after {
    z-index: 1;
}

.wtf-arrow-navy:before {
    background-color: #001f3f;
}